# macOS
.DS_Store

# env files
*.env
**/.env

# Python
__pycache__/
**/__pycache__/

# Node
node_modules/
**/node_modules/

# Ignore specific backend folders and files
backend/clone_repos/
backend/output/
backend/file_structure.txt

backend/.env
backend/prreviewer/docarite.2025-06-14.private-key.pem

backend/db.sqlite3


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/frontend/.env*

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
backend/prreviewer/config.yaml
