# macOS
.DS_Store

# env files
*.env
**/.env

# Python
__pycache__/
**/__pycache__/

# Node
node_modules/
**/node_modules/

# Ignore specific backend folders and files
backend/clone_repos/
backend/output/
backend/file_structure.txt
