version: '3.8'

services:
  backend:
    build:
      context: ./backend
    working_dir: /app/prreviewer
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    command: pipenv run python manage.py runserver 0.0.0.0:8000
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    command: npm start
